%section#fh5co-faq.fh5co-bg-color
  .fh5co-faq
    .container
      .row
        .col-md-12.section-heading.text-center
          %h2.to-animate
            %span Condiciones legales
      .row
        .col-md-12
          .box-faq.to-animate-2
            %i.icon-check2
            .desc
              %h3 1.TITULARIDAD DEL SITIO WEB
              %p
                1.1. El titular de www.alboomaker.com, (en adelante, SITIOS WEBS ó
                PLATAFORMA) es Digital Album Solitions SL (en adelante, Digital Album
                Solutions SL o Compañía). La Compañía tiene su domicilio social en Avenida
                de los Yeseros Nave 2 28343 Valdemoro (Madrid), con NIF B84979367. 
                %br
                1.2. Atención al CLIENTE: El e-mail de contacto es: hello@alboomaker.com
          .box-faq.to-animate-2
            %i.icon-check2
            .desc
              %h3 2.OBJETO Y ÁMBITO DE APLICACIÓN
              %p
                2.1. Las presentes condiciones de uso y contratación regulan el acceso del usuario
                (en adelante, el USUARIO o CLIENTE) y el uso que éste hace de los servicios que
                Digital Album Solutions SL pone a su disposición. El acceso y uso de los servicios implica la
                aceptación y conformidad con las condiciones descritas en este documento, así
                como en su Política de privacidad. 
                %br
                2.2. El acceso al SITIO WEB, directamente o a través de cualquier nombre de
                dominio que redirija a este SITIO WEB confiere al visitante la condición de
                USUARIO y requiere la aceptación de todas las condiciones descritas en este
                documento. 
                %br
                2.3. Digital Album Solutions SL se reserva el derecho a modificar, en cualquier momento y
                sin previo aviso, la oferta de productos o cualquier otro aspecto del presente
                aviso legal, incluidas las condiciones de contratación, si bien dichas
                modificaciones deberán respetar las transacciones ya efectuadas con el
                USUARIO. 
                %br
                2.4. Estas condiciones de uso y contratación pueden ser revisadas por motivos
                técnicos o por cambios o modificaciones en la prestación del servicio o en su caso,
                por decisiones corporativas de Digital Album Solutions SL. Estos cambios estarán vigentes a
                partir de su publicación en la web, por lo que es importante que el USUARIO
                revise y consulte periódicamente las condiciones de uso. Sin perjuicio de lo
                anterior, las modificaciones deberán respetar en todo caso, las transacciones ya
                efectuadas con el CLIENTE.
          .box-faq.to-animate-2
            %i.icon-check2
            .desc
              %h3 3. MAYORES DE EDAD
              %p
                3.1. El acceso y registro en el SITIO WEB está exclusivamente dirigido a mayores
                de CATORCE (14) años. Cualquier registro de un usuario menor de CATORCE
                (14) años detectado en la PLATAFORMA será cancelado y/o suspendido de forma
                automática y sin previo aviso por parte de Digital Album Solutions SL. 
                %br
                3.2. Sin perjuicio de lo indicado en el apartado anterior, para contratar los
                servicios de Digital Album Solutions SL, el USUARIO debe contar con DIECIOCHO (18) años
                o la mayoría de edad que resulte en su país de residencia. Para contratar los
                servicios, los menores de edad deberán obtener previamente permiso de sus
                padres, tutores o representantes legales, quienes serán considerados
                responsables de todos los actos realizados por los menores a su cargo.
          .box-faq.to-animate-2
            %i.icon-check2
            .desc
              %h3 4. PROPIEDAD INTELECTUAL E INDUSTRIAL
              %p
                4.1. Digital Album Solutions SL es titular de los derechos de propiedad intelectual e
                industrial o ha obtenido las autorizaciones o licencias necesarias para su
                explotación, asociadas a los nombres de dominio, las marcas y signos distintivos,
                la PLATAFORMA, los contenidos publicados, los programas de ordenador y el
                resto de obras e invenciones contenidos o relacionados con este sitio web y la
                tecnología asociada al mismo. 
                %br
                4.2. Los contenidos de este SITIO WEB/ PLATAFORMA incluyendo aplicaciones,
                texto, imágenes y código fuente están protegidos por derechos de propiedad
                intelectual e industrial. 
                %br
                4.3. Digital Album Solutions SL concede al USUARIO una licencia de uso, no exclusiva,
                universal, sin limitación geográfica ni temporal sobre la PLATAFORMA y/o
                cualesquiera herramientas que Digital Album Solutions SL ponga a disposición de los
                USUARIOS con el objetivo de editar e imprimir álbumes digitales y/o compartir
                estos contenidos con terceros. 
                %br
                4.4. El USUARIO declara contar con todos los permisos y licencias de las
                imágenes, signos distintivos y contenidos que pueda incluir y/o publicar en sus
                álbumes fotográficos o contenidos fotográficos, exonerando a Digital Album Solutions SL de
                cualquier responsabilidad al respecto. 
                %br
                4.5. Asimismo, el USUARIO concede Digital Album Solutions SL una licencia de uso a los
                solos efectos de prestar el servicio contratado sobre los contenidos fotográficos,
                según las presentes condiciones de contratación. 
                %br
                4.6. Los contenidos del SITIO WEB y/o PLATAFORMA no podrán ser utilizados,
                re-producidos, copiados, transformados o transmitidos en forma alguna sin el
                permiso previo, escrito y explícito de Digital Album Solutions SL. 
                %br
                4.7. Digital Album Solutions SL es una marca registrada titularidad de la compañía
                PRINTORIA, S.L.
          .box-faq.to-animate-2
            %i.icon-check2
            .desc
              %h3 5. CONDICIONES DE USO DEL SOFTWARE TITULARIDAD DE Digital Album Solutions SL
              %p
                5.1. Digital Album Solutions SL concede al usuario una licencia de uso sobre la versión de la
                PLATAFORMA Albumaker para el diseño y maquetación de álbumes digitales así
                como para su impresión, con carácter no exclusiva y sin limitación geográfica. 
                %br
                5.2. La licencia de uso tendrá una duración indeterminada, y a decisión de
                Digital Album Solutions SL, el usuario podrá acceder a las nuevas actualizaciones y versiones
                desarrolladas por parte de Digital Album Solutions SL. 
                %br
                5.3. La PLATAFORMA se licencia al usuario por Digital Album Solutions SL en su estado
                actual y para la finalidad descrita en el apartado 5.1. y no para cualquier otra
                actividad no descrita en las presentes condiciones de uso. Cualquier
                funcionalidad adicional de la PLATAFORMA podrá ser a criterio de
                Digital Album Solutions SL, objeto de un contrato independiente. 
                %br
                5.4. La licencia otorgada no confiere en ningún caso derechos de acceso al código
                fuente de la PLATAFORMA por parte del usuario. 
                %br
                5.5. La licencia no supone el mantenimiento de equipos así como tampoco la
                obtención de actualizaciones de la PLATAFORMA sin la conformidad de
                Digital Album Solutions SL. 
                %br
                5.6. La documentación técnica de ayuda sobre la PLATAFORMA o cualesquiera
                otra tecnología que Digital Album Solutions SL ponga a disposición del usuario será la que
                esté vigente en el momento de la descarga del software, por lo que no será
                exigible el desarrollo de otra documentación específica para el usuario. 
                %br
                5.7. Los equipos del usuario deberán cumplir con las especificaciones técnicas que
                al efecto se proporcionarán al usuario. 
                %br
                5.8. Limitación de responsabilidad. Digital Album Solutions SL ha desarrollado los máximos
                esfuerzos para evitar en la medida de lo posible un funcionamiento incorrecto o
                inestable. Asimismo, Digital Album Solutions SL ha procurado que el programa esté libre de
                virus informáticos. Digital Album Solutions SL, en ningún caso, será responsable ante el
                usuario, o ante otras personas, de daños emergentes, incidentales o derivados ni
                de cualquier otro tipo, incluidos, aunque sin limitarse a ellos, los perjuicios
                derivados de la pérdida del fondo de comercio, interrupción del trabajo, avería,
                fallo o funcionamiento incorrecto del ordenador, o todos y cualesquiera tipos de
                daños o pérdidas.. Las limitaciones y exclusiones anteriores se aplicarán en la
                medida en que lo permita la legislación aplicable en su jurisdicción. 
                %br
                5.9. Copias del software. Cualquier copia del software que realice el usuario
                deberá contener los mismos avisos de derechos de autor y de propiedad que
                aparecen en el software en el momento de la descarga del SITIO WEB. 
                %br
                5.10. Prohibición de realizar modificaciones. El usuario no podrá modificar,
                adaptar o traducir el software, así como tampoco podrá utilizar la ingeniería
                inversa, descompilar, desmontar o de cualquier forma tratar de descubrir el
                código fuente del software.
          .box-faq.to-animate-2
            %i.icon-check2
            .desc
              %h3 6. CONDICIONES DE CONTRATACIÓN
              %p
                6.1. GESTIÓN DEL PEDIDO, PRECIO Y PAGO SEGURO
                %br
                6.1.1. El CLIENTE tramitará su pedido a través del SITIO WEB yo de la
                PLATAFORMA seleccionando el producto que desea adquirir pulsando la opción
                “añadir al carro de la compra” que aparece bajo la foto de cada producto. Una vez
                finalizada la selección del producto en el carro de la compra, el CLIENTE deberá
                marcar sobre la opción “Pagar”. 
                %br
                6.1.2. El CLIENTE para tramitar el pedido deberá realizar un registro completo
                cumplimentando los datos previstos en el formulario previsto al efecto en el
                SITIO WEB aceptando en su caso las presentes condiciones de contratación y la
                política de privacidad. 
                %br
                6.1.3. Los precios indicados en el SITIO WEB están expresados en euros
                incluyendo los impuestos aplicables en cada momento. Digital Album Solutions SL se reserva
                el derecho de modificar estos precios en cualquier momento. Sin embargo, los
                productos se facturarán sobre la base de las tarifas en vigor en el momento de los
                pedidos. 
                %br
                6.1.4. El CLIENTE deberá verificar la información mostrada sobre el pedido
                realizado y seguidamente, seleccionar la forma de pago, facilitada en el SITIO
                WEB. 
                %br
                6.1.5. Una vez finalizado el proceso de compra, el CLIENTE recibirá, en la
                dirección de correo electrónico indicada en el formulario de registro, una
                comunicación de confirmación del pedido así como las presentes condiciones de
                contratación. 
                %br
                6.1.6. Para cualquier información sobre el servicio solicitado, el CLIENTE podrá
                contactar vía correo electrónico a través de su cuenta CLIENTE en el SITIO WEB.
                En todo caso, deberá indicarse el número de pedido que le fue asignado e indicado
                en el correo electrónico de confirmación de la compra. 
                %br
                6.1.7. Asimismo, el CLIENTE podrá comprobar en cualquier momento el estado de
                su pedido accediendo a “mi cuenta”. 
                %br
                6.1.8. El CLIENTE realizará el pago a través de los medios ofrecidos por
                Digital Album Solutions SL en el SITIO WEB. 
                %br
                6.1.9. Digital Album Solutions SL no tiene acceso a los datos bancarios vinculados a los
                medios de pago y no conoce ni registra estos datos durante la operación de pago. 
                %br
                6.2. GASTOS DE ENVÍO Y ENTREGA DEL PRODUCTO
                %br
                6.2.1. Los gastos de envío del pedido serán asumidos por el CLIENTE.
                %br 
                6.2.2. Digital Album Solutions SL informará al CLIENTE de los plazos de entrega del pedido
                en el proceso de compra o en su caso el operador logístico que suministre el
                pedido. 
                %br
                6.2.3. Corresponde al destinatario comprobar el pedido en el momento de la
                entrega y hacer entonces todas las reservas y reclamaciones que el CLIENTE
                estime justificadas. 
                %br
                6.2.4. La gestión logística de los pedidos del CLIENTE corresponde a las empresas
                contratadas por Digital Album Solutions SL, o en su caso al proveedor que suministra el
                pedido, por lo que Digital Album Solutions SL no asume responsabilidad alguna derivada del
                incumplimiento de las obligaciones descritas en esta cláusula con motivo de una
                acción u omisión llevada a cabo por el operador logístico. 
                %br
                6.2.5. Cuando Digital Album Solutions SL prevea que, por algún motivo, no va a poder
                cumplir el plazo de entrega correspondiente a un determinado pedido, informará
                mediante correo electrónico al CLIENTE. 
                %br
                6.3. GARANTÍA Digital Album Solutions SL
                %br
                6.3.1. La vigente legislación de consumidores (Real Decreto legislativo 1/2007, de
                16 de noviembre, por el que se aprueba el texto refundido de la Ley General para
                la Defensa de los Consumidores y Usuarios modificado por la Ley 3/2014, de 27
                de marzo) contempla en su artículo 103. Letra c) que el derecho de desistimiento
                no será aplicable al suministro de bienes confeccionados conforme a las
                especificaciones del consumidor y usuario o claramente personalizados. 
                %br
                6.3.2. Digital Album Solutions SL sin embargo, con la voluntad de dar plena satisfacción al
                CLIENTE, concede un plazo de 21 días donde el CLIENTE puede comunicar su
                disconformidad con el producto comunicándolo a hello@alboomaker.com
                %br
                6.3.3 El CLIENTE debe hacerse cargo del coste directo de devolución del
                producto y deberá enviarlo de forma segura y con las garantías necesarias para
                que la mercancía devuelta llegue en perfecto estado de conservación. 
                %br
                6.3.4. Digital Album Solutions SL efectuará el reembolso del importe del producto,
                incluyendo los gastos de envío, a través del mismo método de pago usado por el
                CLIENTE para la adquisición del producto en el plazo máximo de CATORCE (14)
                días naturales a partir de la recepción del producto enviado por el CLIENTE a
                Digital Album Solutions SL. 
                %br
                6.3.5 La devolución del producto deberá realizarse en su embalaje de origen y en
                perfecto estado, es decir, no dañado o ensuciado por el CLIENTE, y será enviado
                al lugar indicado por Digital Album Solutions SL en las instrucciones remitidas al CLIENTE.
                Asimismo, el embalaje deberá identificarse de manera completa e integra a fin de
                conocer quién es el remitente.
          .box-faq.to-animate-2
            %i.icon-check2
            .desc
              %h3 7. NORMAS DE USO DEL SITIO WEB Y/O PLATAFORMA
              %p
                7.1. El CLIENTE se compromete a hacer un uso del SITIO WEB y/o PLATAFORMA
                o de cualquiera de los medios puestos a disposición del usuario, de acuerdo a las
                siguientes nomas de uso: 
                %br
                7.2. El USUARIO no enviará ni publicará de ningún otro modo comunicaciones
                comerciales a través de ningún medio titularidad de Digital Album Solutions SL. 
                %br
                7.2.1. No recopilará contenido o información de otros usuarios, ni accederá de
                otro modo a cualquier medio titularidad de Digital Album Solutions SL, utilizando medios
                automáticos (como robots,). 
                %br
                7.2.2. No cargará virus ni código malintencionado de ningún tipo. 
                %br
                7.2.3. No solicitará información de inicio de sesión ni accederá a una cuenta
                perteneciente a otro usuario. 
                %br
                7.2.4. No molestará, intimidará ni acosará a ningún usuario. 
                %br
                7.2.5. No publicará contenido que resulte hiriente, intimidatorio o pornográfico,
                que incite a la violencia o que contenga desnudos o violencia gráfica o
                injustificada o que vulnere cualquier norma del ordenamiento jurídico español o
                resulte ofensivo, lesivo o contrario a los valores y normas internas de
                Digital Album Solutions SL. 
                %br
                7.2.6. No ofrecerá ningún concurso, regalo o apuesta por ningún medio titularidad
                de Digital Album Solutions SL. 
                %br
                7.2.7. No utilizará ningún medio titularidad de Digital Album Solutions SL para actos ilícitos,
                engañosos, malintencionados o discriminatorios. 
                %br
                7.2.8. No realizará ninguna acción que pudiera inhabilitar, sobrecargar o afectar al
                funcionamiento correcto del SITIO WEB o PLATAFORMA titularidad de
                Digital Album Solutions SL. 
                %br
                7.2.9. No facilitará ni fomentará la violación de estas Condiciones de Uso. 
                %br
                7.2.10. No proporcionará información personal falsa a Digital Album Solutions SL, ni creará
                una cuenta para otras personas. 
                %br
                7.2.11 No creará más de una cuenta personal. 
                %br
                7.2.12. Si Digital Album Solutions SL inhabilita tu cuenta por motivos justificados, no creará
                otra sin nuestro permiso. 
                %br
                7.2.13. No utilizará el perfil personal creado en Digital Album Solutions SL para obtener
                beneficios económicos. 
                %br
                7.2.14. Declara que la información de contacto es exacta, actualizada y veraz. 
                v
                7.2.15. No compartirá la contraseña, ni dejará que otra persona acceda a su
                cuenta, ni hará cualquier cosa que pueda poner en peligro la seguridad de su
                cuenta, ni transferirá su cuenta a terceras personas. 
                %br
                7.2.16. Comunicará cualquier incidencia relacionada con tu contraseña, cuenta,
                vulneración de la confidencialidad de tus datos, peligro o amenaza detectado en la
                seguridad de los datos y las comunicaciones, usuarios que atenten contra estas
                Condiciones de Uso y/o la Política de Privacidad, así como cualquier otra
                incidencia relacionada con la seguridad y confidencialidad de la información a los
                administradores de Digital Album Solutions SL a través de hello@alboomaker.com. 
                %br
                7.2.17. Si selecciona un nombre de usuario para su cuenta, nos reservamos el
                derecho a eliminarlo o reclamarlo si lo consideramos oportuno (por ejemplo, si el
                propietario de una marca comercial se queja por un nombre de usuario que no
                está relacionado estrechamente con el nombre real del usuario). 
                %br
                7.3 Digital Album Solutions SL podrá eliminar cualquier contenido o suspender el servicio si
                según su propio criterio, incumpla cualquiera de las normas y obligaciones
                descritas en estos términos legales o pueda ser considerado inapropiado y/o falso
                por Digital Album Solutions SL. 
                %br
                7.4. En caso de que un CLIENTE o cualquier tercero tenga conocimiento de alguna
                vulneración de las normas aquí descritas u otras que pudieran lesionar bienes,
                derechos o intereses protegibles, deberá ponerse inmediatamente en contacto
                con Digital Album Solutions SL a través de la dirección de correo electrónico
                hello@alboomaker.com indicando la vulneración. Digital Album Solutions SL, una vez que
                reciba la comunicación, empleará la máxima diligencia en la atención y resolución
                de la misma.
        .box-faq.to-animate-2
          %i.icon-check2
          .desc
            %h3 8. ALMACENAMIENTO DE LAS IMÁGENES NUMERICAS
            %p
              Digital Album Solutions SL les ofrece a los Miembros Activos la posibilidad de conservar, en
              calquier formato, sus fotos numéricas transferidas sobre sus cuentas. 
              Digital Album Solutions SL se reserva no obstante la facultad para poner límites en cuanto a
              la utilización del servicio de almacenamiento, particularmente, sin que esta
              enumeración sea limitativa, de fijar i) un espacio de memoria máxima concedido
              sobre los servidores de Digital Album Solutions SL donde será albergado su Contenido, ii) un
              límite en total de acceso a un Servicio durante un período dado (así como la
              duración máxima de cada acceso). En estas hipótesis, un e-mail de información
              será enviado por lo menos 30 días antes de una modificación. 
              Digital Album Solutions SL no aporta ninguna garantía en caso de supresión o en caso de
              defecto de almacenamiento de todo mensaje, de toda comunicación o de otro
              Contenido difundido o transmitida vía al Servicio.
        .box-faq.to-animate-2
          %i.icon-check2
          .desc
            %h3 9. LIMITACION DE RESPONSABILIDAD
            %p
              9.1. Digital Album Solutions SL no asumirá responsabilidad alguna cuando la entrega del
              producto no llegue a realizarse como consecuencia de la inexactitud o falsedad de
              los datos facilitados por el usuario a tal efecto, así como en el supuesto en que la
              entrega no pueda efectuarse por causas ajenas a Digital Album Solutions SL de envíos
              asignada para tal efecto, como lo es la ausencia del destinatario. 
              %br
              9.2. Digital Album Solutions SL no será en ningún caso responsable del contenido
              funcionamiento y/o política de protección de datos u otros términos
              contemplados en otros sitios web a los que en algún caso pueda accederse por la
              inclusión de un vínculo o enlace (Links) en el presente SITIO WEB, ni de los
              contenidos, servicios o productos ofrecidos desde los mismos, a no ser que estos
              otros sitios sean propiedad de Digital Album Solutions SL. Los hiperenlaces contenidos en el
              SITIO WEB de Digital Album Solutions SL pueden dirigir a sitios web de terceros.
              Digital Album Solutions SL los incorpora para facilitar la navegación del CLIENTE, en ningún
              caso asume responsabilidad por el contenido, la información o los servicios que
              pudieran aparecer en dichos sitios, que tendrán exclusivamente carácter
              informativo y que en ningún caso implican relación alguna entre el citado tercero
              y Digital Album Solutions SL. 
              %br
              9.3. El acceso y contratación de los productos ofrecidos por Digital Album Solutions SL
              requiere de un ordenador o equipo informático y de una conexión a Internet. Los
              gastos asociados a dichos elementos no se encuentran incluidos dentro de los
              precios descritos en las presentes condiciones legales. 
              %br
              9.4. Digital Album Solutions SL desarrolla la máxima diligencia en la implementación de
              medidas de seguridad, sin embargo no asume responsabilidad alguna en relación a
              la custodia y buen uso de las contraseñas para acceder al SITIO WEB, que serán
              responsabilidad exclusiva del CLIENTE así como de aquellos actos organizados
              y/o orquestados por terceros que con fines ilícitos realicen vulneren las medidas
              de seguridad implementadas por Digital Album Solutions SL. 
              %br
              9.5. Digital Album Solutions SL no asume ninguna responsabilidad por la titularidad de los
              contenidos fotográficos del CLIENTE así como de los datos de carácter personal y
              las imágenes contenidas en los citados contenidos, siendo de exclusiva
              responsabilidad del CLIENTE.
      .box-faq.to-animate-2
        %i.icon-check2
        .desc
          %h3 10. PROTECCIÓN DE DATOS DE CARÁCTER PERSONAL
          %p
            10.1 Será de aplicación la presente política de protección de datos de carácter
            personal. 
            %br
            10.2. Con el uso de este sitio web Vd. consiente y está de acuerdo en que alojemos
            estas cookies en su ordenador o dispositivo para los fines aquí expresados.
      .box-faq.to-animate-2
        %i.icon-check2
        .desc
          %h3 11. LEGISLACIÓN Y JURISDICCIÓN APLICABLE
          %p
            Los términos y el uso del SITIO WEB, serán regidos e interpretados de acuerdo
            con las normas de competencia y jurisdicción establecidas en la legislación
            española.
      .box-faq.to-animate-2
        %i.icon-check2
        .desc
          %h3 12.POLÍTICA DE PRIVACIDAD
          %p
            En cumplimiento de la normativa de protección de datos, la Ley 15/99 de 13 de
            diciembre de protección de datos y su Reglamento de desarrollo aprobado por el
            Real Decreto 1720/2007 de 17 de diciembre, PRINTORIA, S.L., titular del sitio
            web www.alboomaker.com (en adelante, SITIOS WEBS ó APLICACIONES)
            expone a continuación la política de privacidad que establece el tratamiento de
            los datos de carácter personal del SITIO WEB. 
            Digital Album Solutions SL puede modificar en cualquier momento y sin previo aviso la
            presente política de privacidad por lo que se recomienda a los usuarios
            consultarla de forma periódica. 
            %br
            12. 1.TITULARIDAD DEL FICHERO, DEBER DE INFORMACIÓN Y FINALIDAD
            DEL FICHERO
            %br
            Todos los datos de carácter personal que se recaben a través de los SITIOS WEBS
            y de las APLICACIONES de edición titularidad de Digital Album Solutions SL o de cualquier
            otro sistema, soporte o dispositivo titularidad de la Compañía formarán parte de
            un fichero de datos de carácter personal debidamente inscrito por la Compañía
            en el Registro de la Agencia española de protección de datos con la finalidad de
            gestionar los datos de carácter personal de los usuarios, resolver consultas y
            tramitar los pedidos que se realicen a través de cualesquiera los medios que
            Digital Album Solutions SL pone a disposición de los USUARIOS así como remitir las
            comunicaciones comerciales según lo previsto en el apartado quinto del presente
            escrito. 
            %br
            12.2. EDAD MÍNIMA PERMITIDA PARA EFECTUAR EL REGISTRO EN LOS
            SITIOS WEBS O APLICACIONES TITULARIDAD DE Digital Album Solutions SL
            El objetivo de estas APLICACIONES es ofrecer un servicio a los usuarios
            registrados donde disponer de un espacio privado y poder publicar sus
            contenidos fotográficos e interactuar con sus amigos. Su uso queda restringido a
            usuarios mayores de CATORCE (14) años. Cualquier registro de un usuario
            menor de CATORCE (14) detectado en las APLICACIONES será cancelado y/o
            suspendido de forma automática y sin previo aviso por parte de Digital Album Solutions SL.
            Para la contratación de productos y servicios de Digital Album Solutions SL la edad mínima
            exigida son DIECIOCHO (18) años o la edad que en su país de residencia esté
            establecida, para la contratación de estos productos será necesario el
            consentimiento o autorización del representante legal del menor. Para más
            información rogamos consulten con las Condiciones Generales de contratación.
            hello@alboomaker.com
            %br
            12.3. DATOS E INFORMACIÓN QUE SE RECABA POR PARTE DE
            Digital Album Solutions SL
            %br
            Al registrarse y usar las APLICACIONES y sus servicios el usuario deberá facilitar
            el nombre, apellidos, email, foto de perfil (opcional), sexo y fecha de nacimiento.
            Es posible que en el desarrollo de su actividad en las APLICACIONES el usuario
            suministre más datos, siempre de manera opcional, que permitirán mejorar su
            experiencia como usuario y poder recibir información sobre productos, servicios,
            boletines y notificaciones relacionados con los contenidos y servicios de la
            PLATAFORMA. Digital Album Solutions SL analiza datos transaccionales y
            comportamentales que resultan de tu navegación por los SITIOS WEBS y el uso
            que realizas de la PLATAFORMA, ofreciendo de esta manera ofertas e
            información y servicios personalizada con la única finalidad de mejorar tu
            experiencia en Digital Album Solutions SL, en este sentido el usuario manifiesta conocer y
            entender todos los aspectos que se detallan en el presente apartado y prestar su
            consentimiento expreso. Por medio de la aceptación de las presentes Condiciones
            de Uso, acepta y consiente expresamente el tratamiento de sus datos personales
            en los términos descritos en la presente cláusula y acepta que Digital Album Solutions SL
            conserve y use dichos datos al efecto de prestarle adecuadamente los servicios
            por usted solicitados y en tanto no hayan sido cancelados por usted en los
            términos antes expresados. Del mismo modo, consiente la cesión de los mismos a
            las empresas con las que Digital Album Solutions SL mantenga contratos o pueda celebrarlos
            en el futuro con la única finalidad de dar adecuado cumplimiento a los fines del
            presente Contrato, es decir, la prestación de los servicios por usted solicitados y a
            cuyo efecto se ha registrado usted en el Sitio de Digital Album Solutions SL. Del mismo
            modo, usted acepta expresamente que sus datos puedan ser tratados por
            Digital Album Solutions SL con fines comerciales relacionados con los servicios ofrecidos en
            el Sitio web. Este consentimiento podrá ser revocado en cualquier momento, y en
            cualquier caso mediante los mecanismos indicados en cada una de las
            comunicaciones comerciales que Digital Album Solutions SL le dirija. 
            %br
            12.4. COMPARTIR CONTENIDOS DE MODO SOCIAL
            %br
            12.4.1.1. Digital Album Solutions SL ofrece a los usuarios diferentes herramientas para
            compartir contenidos fotográficos a través de redes sociales así como cualquier
            otra herramienta social que pueda aparecer en el futuro. 
            %br
            12.4.2. Las APLICACIONES utiliza el pluging social “Facebook connect” en el que
            a través de las credenciales del usuario, el mismo puede navegar por las
            APLICACIONES web y sus servicios y puede comentar y compartir contenidos
            voluntariamente y esa actividad aparezca en su muro personal.
            %br 
            12.4.3. Digital Album Solutions SL cumple con la política de privacidad establecida en
            Facebook en materia de protección de datos:
            http://developers.facebook.com/policy/ 
            %br
            12.4.5. El usuario a estos efectos declara contar con todas las autorizaciones y
            con-sentimientos necesarios para (1) la publicación de las imágenes y datos de
            carácter personal de las personas que aparezcan en los contenidos fotográficos
            así como para (2) permitir el acceso de terceros a los citados contenidos. 
            %br
            12.4.6. Debido a que la seguridad perfecta y garantizada no existe en Internet, el
            usuario debe considerar el riesgo existente en el uso compartido de información
            personal en las redes sociales, información que puede llegar a ser pública en toda
            la red y accesible por múltiples usuarios en todo el mundo. Valora siempre la
            información que publicas y compartes, de qué tipo de información se trata, de qué
            personas se está publicando información personal, siempre con su
            consentimiento. 
            %br
            12.4.7. En caso de que el USUARIO o cualquier tercero tenga conocimiento de
            alguna vulneración que pudieran lesionar bienes, derechos o intereses
            protegibles, tales como propiedad intelectual, derechos de imagen, publicación de
            datos personales no consentidos deberá ponerse inmediatamente en contacto
            con Digital Album Solutions SL a través de la dirección de correo electrónico
            hello@alboomaker.com indicando la supuesta vulneración. Digital Album Solutions SL, una
            vez que reciba la comunicación, empleará la máxima diligencia en la atención y
            resolución de la misma. 
            %br
            12.5. COMUNICACIONES COMERCIALES E INTERACCIÓN CON EL USUARIO
            %br
            12.5.1. Digital Album Solutions SL le comunicará y/o pondrá a su disposición de los usuarios
            comunicaciones comerciales por cualquier medio incluido el electrónico
            informándole de novedades, productos, servicios, ofertas o cualesquiera
            contenidos comerciales relacionadas con la Compañía, que a criterio de
            Digital Album Solutions SL puede resultar interesante para el usuario. 
            %br
            12.5.2. Asimismo y sin perjuicio de lo anterior, Digital Album Solutions SL podrá poner a
            disposición del usuario las citadas comunicaciones por cualquier medio, entorno
            y/ soporte o dispositivo , enumerando de modo enumerativo pero no limitativo (1)
            a través del asistente Wizard de las APLICACIONES (2) a través del SITIO WEB
            (3) a través de la pasarela de pago del SITIO WEB, así como por cualquier otro
            canal y/o soporte que aparezca en el futuro. 
            %br
            12.6. REMISIÓN DE CURRICULUMS VITAE
            %br
            Digital Album Solutions SL informa que en caso de envío de Currículum Vitae a la Compañía,
            el contenido del mismo será tratado con la máxima discreción y confidencialidad,
            siendo incorporados los datos de carácter personal a un fichero titularidad de
            Digital Album Solutions SL con la finalidad de evaluar las candidaturas recibidas para los
            procesos de selección presentes o futuros de la Compañía. 
            %br
            12.7. DERECHOS DE ACCESO, RECTIFICACIÓN, CANCELACIÓN U
            OPOSICIÓN (DERECHOS ARCO)
            %br
            12.7.1. En cualquier momento, el titular de los datos podrá ejercer los derechos de
            acceso, rectificación, cancelación y oposición otorgados por la normativa vigente
            en la materia, enviando un escrito a la dirección arriba indicada o al email
            hello@alboomaker.com indicando con claridad el derecho a ejercer y adjuntando
            copia del DNI o documentación similar. 
            %br
            12.7.2. El usuario puede desactivar temporalmente su cuenta y, posteriormente
            recuperarla en su totalidad con la información personal del perfil. La
            desactivación de su cuenta no implica su cancelación. Para desactivar la cuenta de
            usuario, el mismo puede hacerlo en cualquier momento a través de
            hello@alboomaker.com. 
            %br
            12.7.3. Limitaciones sobre la cancelación de la cuenta: Incluso después de
            cancelar su cuenta, es posible que permanezcan visibles ciertos datos personales
            del perfil del usuario en la medida en que se hayan compartido con otros
            contactos, se hayan distribuido de otro modo conforme a tu configuración de
            privacidad o hayan sido copiados o almacenados por otros usuarios. 
            %br
            12.8. Digital Album Solutions SL COMO ENCARGADO DEL TRATAMIENTO
            %br
            12.8.1. Todos los datos de carácter personal que aparecen en los contenidos
            fotográficos titularidad del usuario son titularidad del USUARIO. 
            %br
            12.8.2. A estos efectos y tal como se indica en el apartado 4.5 el USUARIO declara
            contar con todas las autorizaciones y consentimientos necesarios para la
            publicación de las imágenes y datos de carácter personal de las personas que
            aparezcan en los contenidos fotográficos así como para permitir el acceso a
            terceras personas en el caso de participar en Digital Album Solutions SL. 
            %br
            12.8.3. Digital Album Solutions SL con el objetivo exclusivo de prestar el servicio de edición
            e impresión digital podrá acceder a datos de carácter personal titularidad del
            USUARIO, en cuyo caso accederá en calidad de encargado del tratamiento al
            amparo de lo previsto en el artículo 12 de la Ley 15/99 de 13 de diciembre de
            protección de datos de carácter personal (en adelante, LOPD) y los artículos 19 y
            sgtes del Real Decreto 1720/2007 de 21 de diciembre de desarrollo del
            Reglamento de la LOPD. Digital Album Solutions SL actuará en todo momento bajo las
            instrucciones del USUARIO. 
            %br
            12.8.4. El acceso de Digital Album Solutions SL a los contenidos fotográficos se limita de
            manera exclusiva a controles de validación y confirmación de la titularidad del
            álbum. 
            %br
            12.8.5 Digital Album Solutions SL implementará las medidas de seguridad suficientes y
            adecuadas encaminadas a garantizar la confidencialidad y el secreto de los
            contenidos fotográficos y siempre de acuerdo con el estado de la tecnología en
            cada momento. 
            %br
            12.8.6. Una vez realizado el servicio de impresión digital el proyecto se
            conservará por Digital Album Solutions SL para gestionar copias por parte del USUARIO y
            para garantizar la calidad del servicio. 
            %br
            12.9. MEDIDAS DE SEGURIDAD
            %br
            Digital Album Solutions SL ha adoptado las medidas de seguridad de protección de los datos
            personales legalmente requeridos, y procura instalar todas las medidas técnicas
            adicionales a su alcance para evitar la pérdida, mal uso, alteración, acceso no
            autorizado y robo de los datos personales tratados. No obstante, el Usuario debe
            ser consciente de que las medidas de seguridad en Internet no son inexpugnables
            El Usuario es el único responsable de la custodia y almacenamiento seguro de su
            usuario y contraseña, Digital Album Solutions SL no cede en ningún caso los datos de sus
            clientes y/o usuarios a terceras personas o compañías. 
            %br
            12.10. COOKIES
            %br
            Digital Album Solutions SL podrá instalar dispositivos de almacenamiento y recuperación de
            datos, también denominadas cookies, en su ordenador con el fin de conocer
            información de los visitantes a su web, en ningún caso, dichos datos se tratarán de
            datos personales. Su navegador, en ocasiones, generará un mensaje instantáneo
            el cual brindará la posibilidad a los visitantes de la web de oponerse a la
            instalación de los citados dispositivos