!!!
%html
  %head
    %meta{:charset => "utf-8"}
    %meta{:content => "IE=edge", "http-equiv" => "X-UA-Compatible"}
    %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}
    %title Alboomaker
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    %header#fh5co-header{:role => "banner"}
      .fluid-container
        %nav.navbar.navbar-default
          .navbar-header
            / Mobile Toggle Menu Button
            %a.js-fh5co-nav-toggle.fh5co-nav-toggle{"aria-controls" => "navbar", "aria-expanded" => "false", "data-target" => "#navbar", "data-toggle" => "collapse", :href => "#"}
              %i
            %a.navbar-brand{:href => "index.html"} Twist
          #navbar.navbar-collapse.collapse
            %ul.nav.navbar-nav.navbar-right
              %li.active
                %a{"data-nav-section" => "home", :href => "#"}
                  %span Home
              %li
                %a{"data-nav-section" => "services", :href => "#"}
                  %span Services
              %li
                %a{"data-nav-section" => "explore", :href => "#"}
                  %span Project
              %li
                %a{"data-nav-section" => "testimony", :href => "#"}
                  %span Testimony
              %li
                %a{"data-nav-section" => "pricing", :href => "#"}
                  %span Pricing
              %li
                %a{"data-nav-section" => "team", :href => "#"}
                  %span Team
              %li
                %a{"data-nav-section" => "blog", :href => "#"}
                  %span Blog
              %li
                %a{"data-nav-section" => "faq", :href => "#"}
                  %span FAQ
              %li.call-to-action
                %a.sign-up{:href => "#"}
                  %span Sign Up
              %li.call-to-action
                %a.log-in{:href => "#"}
                  %span Login
    = yield

